#input-mask {
    position: absolute;
    left: 50%;
    margin-left: -150px;
    width: 300px;

    height: 190px;
    top: 50%;
    margin-top: -95px;

    background: #9e9e9e;
    box-shadow: #14191f;

    border-radius: 5px;

    z-index: 1;

    display: none;
    justify-content: center;
    align-items: center;
}

#input-mask > div {
    text-align: center;
}
