$round-margin: 50px;
$match-width: 192px;

$connector-width: $round-margin / 2;
$connector-borders: 2px solid var(--border-color);

$match-borders: 1px solid var(--border-color);
$match-borders-radius: 0.3rem;

*,
::after,
::before {
  box-sizing: border-box;
}

#root {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  color: var(--font-color);
  background-color: var(--primary-background);
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: max-content;
  margin: 0 auto;
  user-select: none;

  --primary-background: #fff;
  --secondary-background: #eceff1;
  --font-color: #212529;
  --win-color: #50b649;
  --loss-color: #e61a1a;
  --label-color: grey;
  --hint-color: #a7a7a7;
  --connector-color: #9e9e9e;
  --border-color: #d9d9d9;
  --border-hover-color: #b6b5b5;
}

h1,
h2,
h3 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h1 {
  font-size: 26px;
  margin-bottom: 40px;
}

h2 {
  font-size: 23px;
}

h3 {
  text-align: center;
  background: var(--secondary-background);
  font-size: 16px;
  padding: 10px;
}

.round-robin {
  display: flex;

  .group {
    text-align: center;

    &:not(:last-of-type) {
      margin-right: $round-margin;
    }

    h2 {
      margin-bottom: 25px;
    }

    table {
      margin-top: 25px;
      color: #a7a7a7;
      border-collapse: collapse;
    }

    th {
      font-weight: normal;
      text-align: start;
      cursor: help;
    }

    td {
      border: none;
      border-top: $match-borders;

      &.hover {
        background: #eceff1 !important;
      }
    }

    th,
    td {
      padding: 5px;
    }

    td {
      &:nth-of-type(2),
      &:last-of-type {
        color: black;
        font-weight: 500;
      }
    }
  }

  .round {
    width: fit-content;
    margin: 0 auto;
  }
}

.bracket {
  flex: 1;
  display: flex;

  &:not(:last-of-type) {
    margin-bottom: 30px;
  }

  .round {
    flex: 1;
    display: flex;
    flex-direction: column;

    &:not(:last-of-type) {
      margin-right: $round-margin;
    }
  }
}

.match {
  flex: 1;
  display: flex;
  align-items: center;
  margin: 10px 0;
  width: $match-width;
  position: relative;

  &.connect-next {
    &::after {
      content: "";
      display: block;
      position: absolute;
      right: -$connector-width;
      width: $connector-width;
      height: 50%;
      border-right: $connector-borders;
    }

    &:nth-of-type(odd)::after {
      top: 50%;
      border-top: $connector-borders;
    }

    &:nth-of-type(even)::after {
      top: 0;
      border-bottom: $connector-borders;
    }

    &.straight::after {
      width: $round-margin;
      right: -$round-margin;
      top: 0;
      border-bottom: $connector-borders;
      border-top: unset;
      border-right: unset;
    }
  }
}

.teams {
  width: 100%;
  position: relative;

  border: $match-borders;
  border-radius: $match-borders-radius;

  &:hover {
    border: 1px solid var(--border-hover-color);
  }

  & > span {
    position: absolute;
    top: -10px;
    left: 3px;
    font-size: 0.8rem;
    background: white;
    padding: 0 5px;
    color: var(--label-color);
    border-radius: 3px;
  }

  &.connect-previous {
    &::before {
      content: "";
      display: block;
      position: absolute;
      left: -$connector-width;
      width: $connector-width;
      height: 50%;
      border-bottom: $connector-borders;
    }

    %straight {
      border-left: unset;
      left: -$round-margin;
      width: $round-margin;
    }

    .bracket:nth-of-type(1) &.straight::before {
      content: unset;
    }

    .bracket:nth-of-type(1) &.straight::after {
      @extend %straight;
    }

    .bracket:nth-of-type(2) &.straight::before {
      @extend %straight;
    }

    .bracket:nth-of-type(2) &.straight::after {
      content: unset;
    }
  }
}

.team {
  display: flex;
  justify-content: space-between;
  padding: 2px 8px;
  background: var(--primary-background);

  &.hover {
    background: var(--secondary-background) !important;
  }

  &:nth-of-type(1) {
    border-bottom: none;
    border-top-left-radius: $match-borders-radius;
    border-top-right-radius: $match-borders-radius;
    padding-top: 8px;
  }

  &:nth-of-type(2) {
    border-top: none;
    border-bottom-left-radius: $match-borders-radius;
    border-bottom-right-radius: $match-borders-radius;
    padding-bottom: 8px;
  }

  .name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &.hint {
      color: var(--hint-color);
    }

    & > span {
      color: var(--hint-color);
      font-size: 0.9rem;
      font-weight: initial;
    }
  }

  &.win .name {
    font-weight: bold;
  }

  .result {
    margin-left: 10px;
    width: 15%;
    text-align: center;
  }

  &.win .result {
    color: var(--win-color);
  }

  &.loss .result {
    color: var(--loss-color);
  }
}